* {
    background-color:aliceblue;
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    color:darkblue;
    
}
p {
    font-size: 48px;
}
#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#grid {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.cell {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.cell-state {
    font-size: 69px;
    position: absolute;
    background-color: aquamarine;
}
