* {
    background-color:aliceblue;
    padding: 0px;
    margin: 0px;
    
}
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.cells {
    background-color: aquamarine;

}
